.recovery-password-page {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
}

.recovery-password-wrap {
    width: 50%;
}

.send-code-tg-icon,
.send-code-email-icon {
    margin-left: 5px;
}

.recovery-password-actions {
    display: flex;
    justify-content: center;
}

.send-code-tg-button {
    margin-right: 20px;
}
