.new-password-page {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
}

.new-password-wrapper {
    width: 50%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

.new-password-action {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
