.shop {
  height: 100%;
  position: relative;
}

.required__field {
  color: red;
}

.bi-cart {
  position: fixed;
  right: 5%;
  bottom: 5%;
  font-size: 24px;
  cursor: pointer;
}

.quantity-in-cart {
  background-color: red;
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
}
